@use "@/styles/media" as *;

:root {
  font-family: "Kodchasan", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --c-icon-primary: white;
  --c-darkest: #1e1e2f;
  --c-dark: #2b3a42;
  --c-light: #e0e0e0;
  --c-lightest: #f4f6f8;
  --c-primary: #00bfa6;

  --nav-width: 70px;
  --pagePadding: 40px;

  color: var(--c1);
}

@font-face {
  font-family: "Kodchasan";
  src: url("./assets/Kodchasan-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Kodchasan";
  src: url("./assets/Kodchasan-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Kodchasan";
  src: url("./assets/Kodchasan-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Kodchasan";
  src: url("./assets/Kodchasan-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Kodchasan";
  src: url("./assets/Kodchasan-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Kodchasan";
  src: url("./assets/Kodchasan-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Kodchasan";
  src: url("./assets/Kodchasan-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Kodchasan";
  src: url("./assets/Kodchasan-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Kodchasan";
  src: url("./assets/Kodchasan-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Kodchasan";
  src: url("./assets/Kodchasan-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Kodchasan";
  src: url("./assets/Kodchasan-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Kodchasan";
  src: url("./assets/Kodchasan-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove focus outlines from interactive elements */
button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none !important;
}

#app {
  min-height: 100dvh;
  min-width: 100dvw;
  /* background: var(--c1); */
  background: #fefefe;
  padding: 0;
  font-family: "Kodchasan", system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.col-2-list-eq {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 0px 10px;
  @include media.respond-to(md) {
    gap: px 30px;
  }
}

.col-2-list-kv {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 2px 10px;
  @include media.respond-to(md) {
    gap: 2px 30px;
  }
}
