* {
  font-family: 'Gloria Hallelujah', cursive;
  padding:0;
  margin:0;
}
body {
  height:2000px;
  position: relative;
}
nav {
  background-color: #fff;
  line-height: 40px;
  text-align:center;
  border-top: thick solid #000;
  border-bottom: thick solid #000;
}
nav li {
  display: inline-block;
}

nav li a {
  
  text-decoration: none;
  color: #000;
  padding-right:20px;
  font-size: 2em;
  font-weight: 600;
}

nav li a:hover {
  color:red;
}

#slider {
  background: url(images/sacha.logo.png) no-repeat center fixed;
  height:400px;
  width:100%;
  top: 0;
}

.widgetcontainer {
  padding-left: 1.25%;
  padding-top:1.25%;
  width:100%;
  height: 350px;
  background-color: #bbb;
}

.w3 {
  width:32%;
  min-width: 250px;
  height: 300px;
  background-color: #ccc;
  display:inline-block;
  text-align:center;
}

