* {
  font-family: 'Gloria Hallelujah', cursive;
  padding:0;
  margin:0;
}
body {
  height:2000px;
  position: relative;
}
nav {
  background-color: #fff;
  line-height: 40px;
  text-align:center;
  border-top: thick solid #000;
  border-bottom: thick solid #000;
}
nav li {
  display: inline-block;
}

nav li a {
  
  text-decoration: none;
  color: #000;
  padding-right:20px;
  font-size: 2em;
  font-weight: 600;
}

nav li a:hover {
  color:red;
}

#slider {
  background: url(images/sacha.logo.png) no-repeat center fixed;
  height:400px;
  width:100%;
  top: 0;
}

.widgetcontainer {
  width:100%;
  height: 350px;
}

.w3 {
  float: left;
  width:33.3%;
  height: 300px;
  background-color: #fff;
  display:inline-block;
  text-align:center;
  min-width:100px;
}

.w3inner {
  margin: 5%;
  border: 3px solid black;
  border-radius: 25px;
  box-sizing: border-box;

}

.w3title{
  letter-spacing: 1%;
  font-size: 5vw;
}

.icon{
  font-size: 10vw;
  padding-top:3%;
}


