$c-bg-dark: #004a68;
$c-bg-mid: #116d75;
$c-bg-light: #00b3bd;
$c-highlight: #8cfcfc;

$c-font-light: #fff;
$c-font-dark: #050516;

// Allows access from js
:root {
  --c-font-light: #fff;
}

$font-xs: 0.5rem;
$font-s: 0.7rem;
$font-m: 1rem;
$font-l: 1.5rem;
$font-xl: 2rem;
$font-xxl: 3rem;
$font-headline-s: 5rem;
$font-headline: 8rem;

$space-xs: 5px;
$space-s: 10px;
$space-m: 20px;
$space-l: 30px;
$space-xl: 40px;
$space-xxl: 50px;

$page-padding: $space-xxl;

$nav-closed-width: 40px;
