$primary: #227c9d;
$secondary: #17c3b2;
$background: #f8f9fa;
$dark: #0d1f49;
$text: #444;
$accent: #ffcb77;
$highlight: #8cfcfc;

$font-xs: 0.5rem;
$font-s: 0.7rem;
$font-m: 1rem;
$font-l: 1.5rem;
$font-xl: 2rem;
$font-xxl: 3rem;
$font-headline-s: 6rem;
$font-headline: 8rem;

$space-xs: 5px;
$space-s: 10px;
$space-m: 20px;
$space-l: 30px;
$space-xl: 40px;
$space-xxl: 50px;

$page-padding: $space-xxl;
